= render 'layouts/header'
.padding-top
.padding-top
.card.width_90
  .card-header.text-center
    - if @workouts.present?
      %h3.text-center.color-grey
        Click a workout below to see your exercises
    - if !@workouts.present?
      %h3.text-center.color-grey
        You havn't completed any workouts
      %h5.text-center.color-grey
        Complete exercises, by making logs, then click "Finish workout" from the logs page
  .card-body.no-padding

    - workout_types = Array.new
    - @workouts.each do |x|
      - if !workout_types.include? x.workout_number
        - workout_types.append(x.workout_number)

    %ul.list-group.list-group-flush
    - workout_types.each do |y|

      %li.list-group-item.width_100
        #accordionExample.accordion

          .card_header{:id => "heading#{y}", :onclick => "tog = this.parentElement.getElementsByClassName('collapse').item(0).getAttribute('class'); if (tog === 'collapse') {this.parentElement.getElementsByClassName('collapse').item(0).className = 'collapse show'} else {this.parentElement.getElementsByClassName('collapse').item(0).className = 'collapse'}", :class => "text-center"}
            %h5.mb-0
              %h3.color-grey.text-center
                = "Workout " + y.to_s
              %i.far.fa-eye-slash
          .collapse{"aria-labelledby" => "heading#{y}", "data-parent" => "#accordionExample", :id => "collapse#{y}"}
            .card-body.text-center
              - exercise_list = Array.new
              .workouts_grid
                - @workouts.where(workout_number: y).each do |z|
                  - exercise = Exercise.find(Log.find(z.log_id).exercise_id)
                  - if !exercise_list.include? exercise
                    - exercise_list.append(exercise)
                    .gridding.centralise
                      #image-sizing.workouts_exercises
                        #imagine-sizing-2.centralise
                          - tag = exercise.exercise_name.downcase.tr(" ", "_")+"2"
                          = image_tag(tag, :alt => "#{exercise.exercise_name} image")
                      .workout_text_style
                        = exercise.exercise_name
            .card_footer.text-center
              %a.btn.btn-primary{:href => workout_path(y)} View





  .card-footer.text-center
    %a.btn.btn-primary{:href => "/exercises"} Exercises

.padding-bottom
