= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    = "Workout " + @workout_number
  .card-body
    %h3.text-center.color-grey
      = "Workout completed on " + @workouts.take.created_at.strftime("%F").to_s

    - array = Array.new

    - @workouts.each do |x|
      - if !array.include? Exercise.find(Log.find(x.log_id).exercise_id)
        - array.append(Exercise.find(Log.find(x.log_id).exercise_id))
    - array.each do |x|
      %h3.text-center.color-grey.padding-top-half
        = x.exercise_name
      %table.table.table-striped.width_100
        %thead
          %tr.text-center
            - if x.weighted
              %th{:scope => "col", :class=>"width_33"} Set
              %th{:scope => "col", :class=>"width_33"} Reps
              %th{:scope => "col", :class=>"width_33"} Weight
            - if !x.weighted
              %th{:scope => "col", :class=>"width_50"} Set
              %th{:scope => "col", :class=>"width_50"} Reps
        %tbody
          - number = 0
          - @current_user_logs.where(exercise_id: x.id).each do |y|
            - if Workout.where(log_id: y.id).first.workout_number.to_i == @workout_number.to_i
              - number += 1
              %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');", :class => "text-center"}
                %td.not_like_link
                  = link_to number, edit_exercise_log_path(x, y.id)
                %td
                  = y.reps
                - if x.weighted
                  %td
                    = y.weight
  .card-footer.text-center

    = button_to "Delete workout", workout_path(@workouts.take.workout_number), :method => :delete, :class => "btn btn-primary"


.padding-bottom
