= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    Choose metric
  .card-body.text-center
    %table.table.width_100
      - progress_list = Progress.all
      %tr
        %td Metric
        %td Description
      - progress_list.each do |y|
        - if y.name != "Suggested exercises"
          %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');"}
            %td.not_like_link
              = link_to "#{y.name}", progress_path(y)
              %td.not_like_link#description-text
                = link_to "#{y.description}", progress_path(y)


    %a.btn.btn-primary{:href => "/logs", :class => "margin-top-half"} Logs
    %a.btn.btn-primary{:href => "/exercises", :class => "margin-top-half"} Exercises
