= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    = "Choose your muscle for #{@progress.name}"
  .card-body.no-padding
    - if @progress.id = 1
      -  exercise_list2 = Array.new
      -  @logs.each do |z|
        - if !exercise_list2.include?(@exercises.find(z.exercise_id))
          - if @exercises.find(z.exercise_id).weighted
            - exercise_list2.append(@exercises.find(z.exercise_id))
      %h3.color-grey.text-center.padding-bottom-quarter.width_85
        Weight related exercises you have completed:
      %table.table.width_100

        - exercise_list2.each do |y|
          %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');"}
            %td#image-sizing
              #imagine-sizing-2
                - tag = y.exercise_name.downcase.tr(" ", "_")+"2"
                = image_tag(tag, :alt => "#{y.exercise_name} image")
            %td.not_like_link.line-height_55
              = link_to "#{y.exercise_name}", progress_exercise_path(@progress.id, y.id)



    %a.btn.btn-primary{:href => "/home", :class => "margin-top-half"} Add another for this exercise
    %a.btn.btn-primary{:href => "/exercises", :class => "margin-top-half"} Return to exercises
