= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    = @progress.name
  .card-body.no-padding
    - if @progress.name == "Weight over time"
      -  exercise_list2 = Array.new
      -  @logs.each do |z|
        - if !exercise_list2.include?(@exercises.find(z.exercise_id))
          - if @exercises.find(z.exercise_id).weighted
            - exercise_list2.append(@exercises.find(z.exercise_id))
      %h3.color-grey.text-center.padding-bottom-quarter.width_85
        Weight related exercises you have completed:
      %table.table.width_100
        - exercise_list2.each do |y|
          %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');"}
            %td#image-sizing
              #imagine-sizing-2
                - tag = y.exercise_name.downcase.tr(" ", "_")+"2"
                = image_tag(tag, :alt => "#{y.exercise_name} image")
            %td.not_like_link.line-height_55
              = link_to "#{y.exercise_name}", progress_exercise_path(@progress.id, y.id)


    - if @progress.name == "Favourite exercises"
      %h3.color-grey.text-center.padding-bottom-quarter.width_85
        Your most completed exercises:
      - hash = Hash.new
      - @logs.each do|h|
        - name = Exercise.find(h.exercise_id).exercise_name
        - if !hash.has_key?(name)
          - hash[name] = 1
        - if hash.has_key?(name)
          - hash[name] += 1

      = pie_chart hash



    - if @progress.name == "Most reps"
      -  exercise_list2 = Array.new
      -  @logs.each do |z|
        - if !exercise_list2.include?(@exercises.find(z.exercise_id))
          - if !@exercises.find(z.exercise_id).weighted
            - exercise_list2.append(@exercises.find(z.exercise_id))
      %h3.color-grey.text-center.padding-bottom-quarter.width_85
        Weight related exercises you have completed:
      %table.table.width_100
        - exercise_list2.each do |y|
          %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');"}
            %td#image-sizing
              #imagine-sizing-2
                - tag = y.exercise_name.downcase.tr(" ", "_")+"2"
                = image_tag(tag, :alt => "#{y.exercise_name} image")
            %td.not_like_link.line-height_55
              = link_to "#{y.exercise_name}", progress_exercise_path(@progress.id, y.id)


    .card-footer.text-center
      %a.btn.btn-primary{:href => "/progresses", :class => "margin-top-half"} View metrics
      %a.btn.btn-primary{:href => "/logs", :class => "margin-top-half"} Add more logs
