.background-image
  .padding-top
  %h2.text-center.sign_up_title vFit
  .padding-top
  .padding-top
  .loginform
    = simple_form_for(resource, autocomplete: "off", as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs.login
        = f.input :email, required: true, placeholder: "Email", label: false, autofocus: true, input_html: { autocomplete: "email"}
        = f.input :password, required: true, placeholder: "Password", label: false, input_html: { autocomplete: "current-password" }
      .form-actions
        .login-form-submit
          = f.button :submit, "Log in"
        = render "devise/shared/links"
