= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    All active logs
  .card-body
    - if !@log_types.present?
      %h3.text-center.color-grey
        You havn't got any active logs
      %h5.text-center.color-grey
        Use the button below to add some
    .padding-top-half-reverse
    - @log_types.each do |x|
      %h3.text-center.color-grey.padding-top-half
        - exercise = Exercise.find(x)
        = link_to exercise.exercise_name, new_exercise_log_path(x)


      %table.table.table-striped.width_90
        %thead
          %tr.text-center
            %th{:scope => "col", :class => "width_0"}

            - if exercise.weighted
              %th{:scope => "col", :class=>"width_33"} Set
              %th{:scope => "col", :class=>"width_33"} Reps
              %th{:scope => "col", :class=>"width_33"} Weight
            - if !exercise.weighted
              %th{:scope => "col", :class=>"width_50"} Set
              %th{:scope => "col", :class=>"width_50"} Reps
        %tbody
          - number = 0
          - @current_user_logs.where(exercise_id: exercise.id).each do |y|
            - number += 1
            %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');", :class => "text-center"}
              %td.not_like_link
                = link_to "", edit_exercise_log_path(exercise, y.id)
              %td
                = number
              %td
                = y.reps
              - if exercise.weighted
                %td
                  = y.weight
  .card-footer.text-center
    .btn.btn-primary#color-white.not_like_link
      = link_to 'Add exercise', '/exercises'
.padding-bottom
