= render 'layouts/header'
.padding-top
.padding-top
.card.width_85
  .card-header.text-center
    #{@exercise.exercise_name}
  .card-body
    -  if @exercise.weighted
      %p.card-text.color-grey.text-center Enter the weight and number of reps that you have completed for this exercise.
    - if !@exercise.weighted
      %p.card-text.color-grey.text-center Enter number of reps that you have completed for this exercise.
    .logs_form
      = simple_form_for @log, url: exercise_logs_path, :method => :post do |f|
        = f.error_notification
        .log-inputs
          = f.input :exercise_id, required: true, label: false, :input_html => { :value => @exercise.id}, as: "hidden"
          = f.input :user_id, required: true, label: false, :input_html => { :value => @user.id}, as: "hidden"
          = f.input :weighted, required: true, label: false, :input_html => { :value => @exercise.weighted}, as: "hidden"

          - if @exercise.weighted
            .log_viewed_inputs
              = f.input :reps, required: true, placeholder: "Number of reps", label: false, :input_html => { :class => 'logs_input reps1'}
              = f.input :weight, required: true, placeholder: "Weight in kg", label: false, :input_html => { :class => 'logs_input weight'}
          - if !@exercise.weighted
            .log_viewed_inputs2
              = f.input :reps, required: true, placeholder: "Number of reps", label: false, :input_html => { :class => 'logs_input reps2' }
            = f.input :weight, required: true, label: false, as: "hidden", :input_html => {:value => 0}
          = f.input :active, required: true, label: false, :input_html => { :value => true}, as: "hidden"
        .text-center.padding-top-half.logs_submit
          = f.button :submit, "Add log"
    .card-body
    - if @current_user_logs.present?
      %h3.text-center.color-grey
        Current logs for #{@exercise.exercise_name}
      %table.table.table-striped.width_90
        %thead
          %tr.text-center
            %th{:scope => "col", :class => "width_0"}
              - if @exercise.weighted
                %th{:scope => "col", :class=>"width_50"} Reps
                %th{:scope => "col", :class=>"width_50"} Weight
              - if !@exercise.weighted
                %th{:scope => "col", :class=>"width_100"} Reps
        %tbody
          - @current_user_logs.each do |x|
            %tr{:onclick => "location.href = this.getElementsByTagName('a').item(0).getAttribute('href');", :class => "text-center"}
              %td.not_like_link
                = link_to "", edit_exercise_log_path(@exercise, x.id)
              %td
                = x.reps
              - if @exercise.weighted
                %td
                  = x.weight
  .card-footer
    .text-center
      .btn.btn-primary#color-white.not_like_link
        = link_to 'All logs', '/logs'
      .btn.btn-primary#color-white.not_like_link
        = link_to 'Back to exercise', exercise_path(@exercise.id)
